<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Store!</h1>
    
    <h2>Products:</h2>
    <ul>
        {{#each products}}
            <li>{{this.name}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io(); 

        socket.on('addProduct', (data) => {
            console.log('Product added:', data);
        });
    </script>
</body>
</html>
